.popup-enter {
  opacity: 0;
}

.popup-enter .contents {
  transform: translateY(40vh);
}

.popup-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.popup-enter-active .contents {
  transition: transform 200ms ease-out;
  transform: translateY(0);
}

.popup-exit {
  opacity: 1;
}

.popup-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.place-enter {
  opacity: 0;
}

.place-enter-active,
.place-enter-done {
  opacity: 0.8;
  transition: opacity 200ms;
}

.place-exit {
  opacity: 0.8;
}

.place-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
