:root {
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;
  color: #131516;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  --shadow-primary: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
}

body {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
}
